<html>
    <head>
        <title>Buy Item</title>
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>
        <h1>{{ item.name }}</h1>
        <p>{{ item.description }}</p>
        <p>Price: {{ item.price }}</p>
        <button id="buy-button">Buy</button>
        
        <script type="text/javascript">
            var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
            document.getElementById("buy-button").addEventListener("click", function () {
                fetch("{% url 'buy' item.id %}", {method: 'GET'})
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    console.log(session.session_id)
                    stripe.redirectToCheckout({ sessionId: session.session_id });
                })
                .then(function (result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error('Error:', error)
                });
            });
            </script>


</body>
</html>
